@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?esl9dq');
  src:  url('fonts/icomoon.eot?esl9dq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?esl9dq') format('truetype'),
    url('fonts/icomoon.woff?esl9dq') format('woff'),
    url('fonts/icomoon.svg?esl9dq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e900";
  color: #e4405f;
}
.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
